body{
    /* border: 1px solid #000; */
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: #777;
    font-family: "vazir";
}
.home{
    /* border: 1px solid #000; */
    display: flex;
}
